
<div class="card">
  <p-table [value]="bankDmcls" dataKey="nmBank" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let bank of bankConst"  [pSortableColumn]="bank.field">
            {{bank.header}}
            <p-sortIcon [field]="bank.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bankDmcl let-expanded="expanded">
          <tr>
              <td>
                  <button type="button" pButton pRipple [pRowToggler]="bankDmcl" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
              </td>
              <td>
                <img [src]="'assets/images/' + bankDmcl.cdBank + '.png'" [alt]="bankDmcl.nmBank" width="40" class="shadow-1" />
                {{ bankDmcl.nmBank }}
              </td>
              <td>{{ bankDmcl.cdBank }}</td>
              <td>{{ bankDmcl.cdAgency }}</td>
              <td>{{ bankDmcl.cdCurrentAcount}}</td>
              <td>{{ bankDmcl.cdDigitCurrentAcount}}</td>
              <td>
                  <p-tag [value]="bankDmcl.isActiveDesc" [severity]="getSeverity(bankDmcl.isActive)"></p-tag>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-bankDmcl>
          <tr>
              <td colspan="7">
                  <div class="p-3">
                      <p-table [value]="bankDmcl.domicileGroups" dataKey="id">
                          <ng-template pTemplate="header">
                              <tr>
                                <th *ngFor="let card of cardConst" [pSortableColumn]="card.field">
                                  {{card.header}}
                                  <p-sortIcon [field]="card.field"></p-sortIcon>
                                </th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-bankDmcl>
                              <tr>
                                  <td>{{ bankDmcl.nmCardType }}</td>
                                  <td>{{ bankDmcl.cdCardType }}</td>
                                  <td>{{ bankDmcl.nmSettlementType }}</td>
                                  <td>{{ bankDmcl.nmDomicileGroup }}</td>
                                  <td>
                                      <p-tag [value]="bankDmcl.isActiveDesc" [severity]="getStatusSeverity(bankDmcl.isActive)"></p-tag>
                                  </td>
                                  <td><p-button type="button" icon="pi pi-plus"></p-button></td>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                              <tr>
                                  <td colspan="6">There are no order for this product yet.</td>
                              </tr>
                          </ng-template>
                      </p-table>
                  </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
<div>

</div>

</div>
